.addedMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-bottom: 2px dashed $white;
  width: 100%;
  max-width: 730px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  @media (max-width: 800px) {
    max-width: 304px;
  }
}