.movieBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 480px;
  list-style-type: none;
  width: 100%;
  max-width: 750px;
  border-bottom: 2px dashed $white;
  padding-bottom: 32px;

  @media (max-width: 800px) {
    max-width: 304px;
  }
}