.planetTable {
  border-spacing: 0 30px;
  font-size: 12px;
  width: 100%;

  @media (max-width: 800px) {
    border-spacing: 0;
  }

  thead {
    @media (max-width: 800px) {
      display: none;
    }

    tr {
      th {
        border-bottom: 1px solid #C4C4C4;
        font-weight: normal;
        padding-bottom: 7px;
        padding-top: 13px;
        text-align: center;
        padding: 0 30px 7px;

        &:first-child,
        &:last-child {
          padding-left: 0;
          padding-right: 0;
        }

        &:first-child {
          color: $dark-blue;
        }

        &:last-child {
          padding-right: 0;
        }

        .headerBox {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .sortIcon {
            font-size: 10px;
            color: $dark-primary;
            cursor: pointer;
          }
        }
      }
    }
  }

  tbody {
    @media (max-width: 800px) {
      &:nth-child(even) {
        background-color: #fff;
      }
    }

    tr.desktop {
      @media (max-width: 800px) {
        display: none;
      }

      td {
        &:first-child {
          color: $dark-blue;
        }

        text-align: center;
      }
    }

    tr.mobile {
      &:nth-child(2) {
        td {
          &:last-child {
            color: $dark-blue;
          }
        }
      }

      @media (min-width: 800px) {
        display: none;
      }

      td {
        width: 50%;
        padding: 16px 10px;

      }

    }
  }
}