.selectedPlanets {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  li {
    border: 1px solid #999999;
    padding: 6px 16px;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    button {
      background-color: $white;
      border: none;
      cursor: pointer;
    }
  }
}