// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font sizes
$font-size-large: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

// Base Font
$base-font-family: 'Barlow',
sans-serif;

// colors
$dark-primary: #474747;
$dark-secondary: #555555;

$white: #fff;
$grey: #F0F0F0;
$placeholder-color: #c4c4c4;
$button-color: #1BA1BE;

$main-background: #E0E6EE;
$pale-background: rgba(229, 229, 229, 0.5);
$button-background: #1BA1BE;

$dark-blue: #00687F;
$light-blue: #5FBBCF;